
.vs/Bank Application AOOD/FileContentIndex/2185b2c7-4b13-4729-ac74-2c09f6c74b58.vsidx
.vs/Bank Application AOOD/FileContentIndex/ac5b039e-e175-4d9a-8656-71bdaae23f34.vsidx
.vs/Bank Application AOOD/FileContentIndex/b9093f7a-4797-40f0-b113-cbd1ed8c556a.vsidx
.vs/Bank Application AOOD/FileContentIndex/cc9fa06b-c827-46e1-b3f1-009f43731807.vsidx
.vs/Bank Application AOOD/v17/.suo
.vs/Bank Application AOOD/v17/Browse.VC.db
.vs/Bank Application AOOD/v17/Browse.VC.db-shm
.vs/Bank Application AOOD/v17/Browse.VC.db-wal
.vs/Bank Application AOOD/v17/Browse.VC.opendb
.vs/Bank Application AOOD/v17/DocumentLayout.json
.vs/Bank Application AOOD/v17/ipch/AutoPCH/2cfa16b13627c920/MANAGERACCOUNT.ipch
.vs/Bank Application AOOD/v17/ipch/AutoPCH/792cfc15a554d60a/USERACCOUNT.ipch
.vs/Bank Application AOOD/v17/ipch/AutoPCH/bd2ff73b5ae2e8f3/BANK APPLICATION AOOD.ipch
.vs/Bank Application AOOD/v17/Solution.VC.db
.vs/Bank Application AOOD/v17/ipch/AutoPCH/99926e8a4a73a8eb/VCTMP13000_692070.BANK APPLICATION AOOD.00000000.ipch
.vs/Bank Application AOOD/FileContentIndex/f148107e-3ff0-4487-abdd-c620d5cfe609.vsidx
.vs/Bank Application AOOD/FileContentIndex/e45d153b-a5f6-4731-b8a1-286cfd816f2b.vsidx
.vs/Bank Application AOOD/FileContentIndex/9ba2fa83-f7b0-4b9a-bba3-12ca6febe6f0.vsidx
